#start {
    text-align: center; padding-top: 80px;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#conAuth {
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
}

#sumbitButton {
    text-align: center;
}

#buttonSum {
    padding: 10px 20px; font-size: 20px; width: 100%; background-color: orange; color: white;
}