@media (max-width: 1000px) {
    .body {
        padding-bottom: 4.5rem;
    }
}
@media (min-width: 1000px) {
  .body {
        padding-top: 4.5rem;
        padding-bottom: 2.5rem;
    }
}

.submitButton {
    font-size: 20px;
    width: 100%;
    background-color: orange;
    color: white;
    border: none;
    margin-bottom: 50px;
}