.carousel .slide {
    background: none; /* Удалить фон слайда */
}

.carousel .slide img {
    width: 100%; /* Задать ширину изображения */
    height: auto; /* Задать высоту изображения */
    object-fit: cover; /* Задать способ заполнения изображения */
    border-radius: 10px; /* Задать радиус границы изображения */
}

@media (min-width: 1000px) {
    .ReactModal__Content {
        width: 80%;
        height: 80%;
        margin: auto;
        background: white;
        border-radius: 10px;
        padding: 20px;
    }

}

@media (max-width: 999px) {
    .ReactModal__Content {
        width: 80%;
        height: 40%;
        margin: auto;
        background: white;
        border-radius: 10px;
        padding: 20px;
    }
}

.ReactModal__Content img {
    width: 100%; /* Задать ширину изображения */
    height: 100%;
    object-fit: cover; /* Задать способ заполнения изображения */
}

.ReactModal__Content button {
    position: absolute; /* Задать абсолютное позиционирование кнопки */
    top: 10px; /* Задать отступ сверху для кнопки */
    right: 10px; /* Задать отступ справа для кнопки */
}